<!--<loading *ngIf="loading"></loading>-->
<md-sidenav-layout>
    <md-toolbar color="primary">
        <!--<button md-icon-button (click)="changeSidnav()">
            <md-icon>menu</md-icon>
        </button>-->
        <button md-mini-fab routerLink="/" tooltip="На главную" tooltip-position="below">
            <img src="..{{path}}/assets/icons/home-white.svg"/>
        </button>
        <button md-button routerLink="/admin" *ngIf="isUserHere() && !isClient">Админка</button>
        <button md-button routerLink="/createlot" *ngIf="isUserHere() && isClient">Добавить лот</button>
        <div class="search_form" *ngIf="isUserHere() && viewSearch">
            <form (ngSubmit)="search(searchStr.value)">
                <input #searchStr id="search_input" placeholder="Поиск.."/>
                <button md-mini-fab class="red_button search_button" type="submit">
                    <img src="../assets/icons/search-white-mini.svg" />
                </button>
            </form>
        </div>
        <button md-button routerLink="/login" *ngIf="!isUserHere()">Войти</button>
        <div class="right">
            <button md-button (click)="logout()" *ngIf="isUserHere()" style="bottom:5px;">Выход</button>
            <button md-mini-fab class="orange_button" *ngIf="isUserHere() && isClient" (click)="selectUser()" tooltip="Личный кабинет" tooltip-position="before">
                <img src="..{{path}}/assets/icons/person-white.svg" />
            </button>
        </div>
    </md-toolbar>

    <router-outlet></router-outlet>

    <md-sidenav mode="side" opened={{opened_sidebar}} style="background-color:#424242; color:#FAFAFA;">
        <div class="logo_wrap" (click)="redirect_main()">
            <img src="..{{path}}/assets/images/logo.png" />
        </div>
        <md2-accordion [multiple]="multiple" *ngFor="let menuel of menu">
            <md2-accordion-tab *ngIf="isNotSubcategory(menuel)">
                <md2-accordion-header>{{menuel.Name}}</md2-accordion-header>
                <li *ngFor="let sub of menuel.SubAuctionCategories">
                    <button md-button class="subcategory" [class.focus]="categoryFocus[sub.Id]" (click)="selectCategory(sub.Id)">
                        {{sub.Name}}
                    </button>
                </li>
            </md2-accordion-tab>
        </md2-accordion>

    </md-sidenav>
</md-sidenav-layout>


