md-toolbar button {
    font-size: 20px;
}

.orange_button {
    background-color: var(--orange);
}

.logo_wrap{
    width: 90%;
    padding: 20px 10px;
    text-align: center;
    border-bottom: 1px solid #333333;
}

md-sidenav {
    width: 225px;
    height: 100%;
}

md2-accordion-tab {
    border-style:none;
}

md2-accordion-header {
    color: white;
}

md-icon {
    vertical-align:middle;
}

md2-accordion button {
    width: 200px;
    text-align:left;
}

.menu_list {
    font-size: 18px;
    font-weight:normal;
}

.subcategory {
    padding-left:25px;
    width: 100% !important;
}

.focus {
    background-color: var(--red);
    color: white;
}

ul {
    padding-left:0;
}

li {
    list-style-type: none; 
}