.personal_cabinet {
    width: 800px;
    min-width: 800px;
    margin: 20px auto;
}

.separator{
    display: flex;
    text-align: -webkit-center;
    border-bottom: 1px solid lightgrey;
}

.private_inf {
    width: 50%;
    border-right: 1px solid lightgrey;
}

.labels_wrap {
    width:35%;
}

.header {
    height: 50px;
}

.but {
    position: relative;
    top: -40px;
    right: -160px;
    background-color:#D95154
}

.validThru {
    flex-flow: row wrap;
}

.validThru md-input {
    width: 40px;
}

.addCardForm {
    display: flex;
    text-align: left;
}

.addCardButton {
    position:absolute;
    right: 30px;
    background-color:#D95154
}

.card-icon {
    position:absolute;
    top: 7px;
}

.card_number {
    padding-left: 35px;
}

.value_wrap {
    width:65%;
}

.mar_divs{
    padding: 16px 0px;
}

.card_handler {
    width:100%;
}

.cards_inf{
    width:50%;
    padding-left:24px;
}

.content {
    display: flex;
    text-align: left;
}