<md-card>
    <form (ngSubmit)="createLot()">
        <md-input placeholder="Название лота" [(ngModel)]="lot.name" name="name"></md-input>

        <div class="image_uploader">
            <div class="separator">
                <div class="image_viewer">
                </div>
                <div class="other_images_container">
                    <div *ngFor="let image of [1,2,3,4,5]" class="other_images"></div>
                </div>
            </div>
            <div class="separator">
                <image-upload [max]="5"
                              [url]="'example.com/images/upload'"
                              [buttonCaption]="'Добавить фото'"
                              [dropBoxMessage]="'Перетащите ваши фото сюда'"
                              (onFileUploadFinish)="imageUploaded($event)"
                              (onRemove)="imageRemoved($event)"
                              (isPending)="disableSendButton($event)">
                </image-upload>
            </div>
        </div>

        <md-radio-group [(ngModel)]="lot.state" name="state">
            <md-radio-button value="new">новый</md-radio-button>
            <md-radio-button value="used">б/y</md-radio-button>
        </md-radio-group>

        <h3>Выбор категорий</h3>
        <div class="select_categories">
            <md-card class="category_wrap">
                <ul>
                    <li *ngFor="let category of categories" class="parent-list-item">
                        <div *ngIf="isNotSubcategory(category)">
                            <button md-button md-raised md-ink-ripple (click)="toggle(category)">
                                <div flex layout="row">
                                    <b>{{category.Name}}</b>
                                    <md-icon>keyboard_arrow_right</md-icon>
                                </div>
                            </button>
                        </div>
                    </li>
               </ul>
            </md-card>
            <md-card class="subcategory_wrap">
                <ul *ngIf="ifCategoryIsSelected()">
                    <li *ngFor="let sub of selected_category.SubAuctionCategories">
                        <button md-button focus md-ink-ripple md-raised class="subcategory">
                            <div flex layout="row">
                                {{sub.Name}}
                            </div>
                        </button>
                    </li>
                </ul>
            </md-card>
        </div>

        <h3>Описание лота</h3>

        <button md-button type="submit">Добавить лот</button>
    </form>
</md-card>