md-card{
    width: 750px;
    margin: 15px;
    margin:0 auto;
}

.image_uploader {
    display: flex;
    margin-top: 20px;
}

.name_wrap {
    text-align: center;
}

.name_wrap md-input {
    width: 270px;
}

.separator {
    width:50%;
    margin: 0px 5px 0px 5px;
    flex-flow: row wrap;
    display: inline-block;
    text-align: -webkit-center;
}

.separator * {
    text-align: center;
}

.select_categories {
    min-height: 250px;
    display: flex;
    width: 100%;
}

.select_categories > * {
    background-color: #f8f8ff;
}

.select_categories button {
    width: 100%;
    line-height: 28px;
}

.category_wrap {
    width: 35%;
    padding: 10px 0px;
}

.category_wrap button {
    text-align: right;
}

.subcategory_wrap button {
    text-align: left;
}

.subcategory_wrap {
    width: 65%;
    padding: 10px 0px;
}

ul {
    padding-left:0;
}

li {
    list-style-type: none;
}

md-icon {
    vertical-align:middle;
}

.create_wrap {
    margin-top: 16px;
    margin-bottom:36px; 
}

.other_images_container {
    display:inline-flex;
}

.image_viewer {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0px 50px;
    height: 267px;
    width: 267px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.image_viewer * {
    vertical-align: middle;
}

.image_viewer img {
    height: auto; 
    width: auto; 
    max-width: 267px; 
    max-height: 267px;
}

.other_images {
    width: 60px;
    height: 60px;
    margin: 3px;
    border: 1px solid lightgrey;
}

md-card > * {
    display:block;
}

md-input {
    padding-top: 1px;
    width:50%;
    margin: 0;
}

md-radio-button {
    margin-right: 20px;
}
