<md-card class="create_wrap">
    <form (ngSubmit)="createLot()">
        
        <div class="image_uploader">
            <div class="separator">
                <div class="image_viewer center_image">
                    <span></span><img src={{mainPicture}}/>
                </div>
                <!--solve vertical align problem (display:inline-flex)-->
                <div class="other_images_container">
                    <div *ngFor="let image of pictures" class="other_images center_image" (click)="changeMainPicture(image)">
                        <span></span><img src={{image}}/>
                    </div>
                </div>
            </div>
            <div class="separator">
                <div class="name_wrap">
                    <md-input placeholder="Название лота" maxlength="40" [(ngModel)]="lot.name" name="name" #name>
                        <md-hint align="end">{{name.characterCount}} / 40</md-hint>
                    </md-input>
                </div>
                <image-upload [max]="5"
                              [url]="'example.com/images/upload'"
                              [buttonCaption]="'Добавить фото'"
                              [dropBoxMessage]="'Перетащите ваши фото сюда'"
                              (onFileUploadFinish)="imageUploaded($event)"
                              (onRemove)="imageRemoved($event)"
                              (isPending)="disableSendButton($event)">
                </image-upload>
                <div>
                    <button md-icon-button class="md-mini md-primary" aria-label="view">
                        <md-icon>delete forever</md-icon>
                    </button>
                </div>
            </div>
        </div>

        <h3>Сщстояние</h3>
        <md-radio-group [(ngModel)]="lot.state" name="state">
            <md-radio-button value="new">новый</md-radio-button>
            <md-radio-button value="used">б/y</md-radio-button>
        </md-radio-group>

        <h3>Выбор категорий</h3>
        <div class="select_categories">
            <div class="category_wrap">
                <ul>
                    <li *ngFor="let category of categories" class="parent-list-item">
                        <div *ngIf="isNotSubcategory(category)">
                            <button md-button md-raised md-ink-ripple (click)="toggle(category)">
                                <div flex layout="row">
                                    <b>{{category.Name}}</b>
                                    <md-icon>keyboard_arrow_right</md-icon>
                                </div>
                            </button>
                        </div>
                    </li>
               </ul>
            </div>
            <div class="subcategory_wrap">
                <ul *ngIf="ifCategoryIsSelected()">
                    <li *ngFor="let sub of selected_category.SubAuctionCategories">
                        <button md-button focus md-ink-ripple md-raised class="subcategory">
                            <div flex layout="row">
                                {{sub.Name}}
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <h3>Начальная цена</h3>
        <md-input></md-input>
        <h3>Доставка</h3>
        <md2-select>
            <md2-option >re</md2-option>
        </md2-select>

        <h3>Описание лота</h3>
        <textarea></textarea>

        <button md-button type="submit">Добавить лот</button>
    </form>
</md-card>