md-card{
    width: 350px;
    margin:0 auto;
    margin-top: 15px;
}

.alert {
    border: 1px solid;
    border-radius: 0.2em;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 6px;
}

.alert-warning {
    border-color: #ffb366;
    background-color: #ffe6cc;
}

.red_button {
    background-color: var(--red);
    color: white;
}

md-input {
    width: 100%;
}

.alert-error {
    margin-top: 70px;
    font-size: 13px;
    border-color: #990000;
    background-color: #ffcccc;
}
