<div class="full_width_wrap">
    <md-card *ngIf="selectedCategoryId === lotitem.CategoryId || selectedCategoryId == 'none'" (mouseenter)="over(lotitem)" (mouseleave)="out(lotitem)">
        <div class="image_container">
            <span></span> <img src="{{lotitem.mainPicture}}" class="md-card-image" (click)="view_details(lotitem)">
        </div>
        <button md-mini-fab style="background-color:#D95154" class="lot_details" (click)="view_details(lotitem)" tooltip="Подробнее" tooltip-position="below">
            <img src="../../assets/icons/visibility-white.svg"/>
        </button>
        <div class="content">
            <md-card-title>{{lotitem.Name}}</md-card-title>
            <md-card-content>
                <div *ngIf="lotitem.visible_items == true" class="more_inf">
                    <div>login: {{lotitem.userLogin}}</div>
                    <div>10 декабря 2016</div>
                    <div style="color:#F3A15C">{{lotitem.PriceOfFastSell}}</div>
                </div>
            </md-card-content>
        </div>
    </md-card>
</div>

