<pick-modal *ngIf="modal && isUserAuth" (closeModalEvent)="onCloseModal($event)" [betSum]="model.bet" [fastSell]="[selected_lot.PriceOfFastSell, redeemBool]" [lotId]="selected_lot.Id"></pick-modal>
<simple-notifications ></simple-notifications>
<div *ngIf="modal && !isUserAuth">
    <div id="overlay">
    </div>
    <md-card class="modal">
        <button md-button class="close_button" (click)="changeModal()">
            <img src="../../assets/icons/clear.svg" />
        </button>
        <md-card-title>Вам необходимо <br/>авторизироваться <br/>в системе</md-card-title>
        <md-card-content layout="row">
            <button md-raised-button routerLink="/login">Вход</button>
            <button md-raised-button routerLink="/registration">Регистрация</button>
        </md-card-content>
</md-card>
</div>

<div class="lot_detail_wrap">
    <div class="lot_information">
        <md-card class="lotname">
            <h2>{{selected_lot.Name}}</h2>
        </md-card>
        <md-card class="content">
            <div class="main_information">
                <div class="images_wrap">
                    <div class="separator">
                        <div class="image_viewer center_image">
                            <span></span><img src={{mainPicture}} />
                        </div>
                        <!--solve vertical align problem (display:inline-flex)-->
                        <div class="other_images_container">
                            <!--*ngFor="let image of pictures"-->
                            <div class="other_images center_image" (click)="changeMainPicture(image)">
                                <span></span><img src={{image}} />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bet_wrap">
                    <button md-mini-fab (click)="updateData()" class="update_button" tooltip="Обновить лот" tooltip-position="below">
                        <img src="../../../assets/icons/update-black-mini.svg" />
                    </button>
                    <div *ngIf="!selected_lot.IsCompleted">
                        <h3>Начальная ставка: {{selected_lot.StartPrice}} {{currency}}</h3>
                        <h3 *ngIf="betDone">Текущая ставка: {{selected_lot.currentBet}} {{currency}}</h3>
                        <p *ngIf="!betDone">Ставок нету</p>
                        <!--изменить на текущую цену-->
                        <form (ngSubmit)="makeBet(bet)">
                            <!--value={{selected_lot.currentBet}}-->
                            <md-input placeholder="Ставка" [(ngModel)]="model.bet" #bet="ngModel" name="bet" required></md-input>
                            <button md-mini-fab style="background-color:#D95154" type="submit" tooltip="Сделать ставку" tooltip-position="below">
                                <img src="../../../assets/icons/gavel-white.svg" />
                            </button>
                        </form>
                        <div *ngFor="let error of betAmmountErrors" class="alert alert-warning">
                            {{error}}
                        </div>

                        <div *ngIf="checkFastSell(selected_lot)">
                            {{selected_lot.PriceOfFastSell}} {{currency}}
                            <button md-raised-button (click)="redeem()">Выкупить</button>
                        </div>

                        <h3>Осталось: </h3>
                        <span>
                            {{selected_lot.timeLeft | amDifference: today: 'days'}} дн.
                            {{(selected_lot.timeLeft | amDifference: today: 'hours') - (selected_lot.timeLeft | amDifference: today: 'days')*24}} ч.
                        </span>
                    </div>
                    <div *ngIf="selected_lot.IsCompleted">
                        <h3>Аукцион завершён!</h3>
                    </div>
                </div>
            </div>
            <div class="description">
                <h3>Описание</h3>
                <p>{{selected_lot.Description}}</p>
                <h3>Состояние: {{lotState}}</h3>
            </div>
        </md-card>
    </div>

    <md-card class="seller_information">
        <h3>Информация об аукционисте</h3>
        <p>{{userInformation.FirstName}}</p>
        <p>{{userInformation.LastName}}</p>
    </md-card>
</div>