<div id="overlay">
</div>
<md-card *ngIf="!nullUser" class="modal">
    <button md-button class="close_button" (click)="closeModal()">
        <img src="../../assets/icons/clear.svg"/>
    </button>
    <md-card-title *ngIf="!transfer">Выберите карту для ставки</md-card-title>
    <md-card-title *ngIf="transfer">Выберите карту для перевода денег</md-card-title>
    <md-card-content>
        <ul>
            <li *ngFor="let card of userCreditCards" class="parent-list-item">
                <button md-button class="cardButton" [class.focus]="cardFocus[card.id]" (click)="chooseCard(card)">
                    <div class="fix_height">
                        <img class="card-icon" src="..{{path}}/../assets/icons/payment-black.svg" />
                        <div class="cardNum"><b>{{card.number}}</b></div>
                    </div>
                    <div class="cardInf fix_height">
                        {{card.owner}}
                        {{card.validMonth}}/ {{card.validYear}}
                    </div>
                </button>
            </li>
        </ul>
    </md-card-content>
    <form (ngSubmit)="makeBet()">
        <md-card-actions layout="row">
            <md-input *ngIf="!isDisabled" class="cvv_input" placeholder="CVV" [(ngModel)]="model.cvv" #cvv name="cvv" maxlength="3" minlength="3" required></md-input>
            <button md-raised-button [disabled]="isDisabled" type="submit" *ngIf="!transfer">Сделать ставку</button>
            <button md-raised-button [disabled]="isDisabled" type="submit" *ngIf="transfer">Подтвердить</button>
        </md-card-actions>
    </form>
</md-card>
<login *ngIf="nullUser" class="modal"></login>
