<div id="overlay">
</div>
<md-card *ngIf="!nullUser" class="modal">
    <button md-button class="close_button" (click)="closeModal()">
        <img src="../../assets/icons/clear.svg"/>
    </button>
    <md-card-title>Выберите карту для ставки</md-card-title>
    <md-card-content>
            <ul>
                <li *ngFor="let card of userCreditCards" class="parent-list-item">
                    <button md-button class="cardButton" (click)="chooseCard(card)">                          
                        <div class="fix_height">
                            <img class="card-icon" src="../../assets/icons/payment-black.svg"/>
                            <div class="cardNum"><b>{{card.number}}</b></div>
                        </div>
                        <div class="cardInf fix_height">
                            {{card.owner}}
                            {{card.validMonth}}/ {{card.validYear}}
                        </div>
                    </button>
                </li>
            </ul>
    </md-card-content>
    <md-card-actions layout="row">
        <button md-raised-button [disabled]="isDisabled">Сделать ставку</button>
    </md-card-actions>
</md-card>
<login *ngIf="nullUser" class="modal"></login>
